*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ 
    background-color: #070820;
    font-family: "Open Sans", sans-serif;
}


.box{
    background-color: red;
    color: white;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 20px;
}

.header {
    background-color: red;
    background-image: url("../images/image_720\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative; 
}

.header span {
    font-size: 32px;
    -webkit-text-stroke-width: .5px;
}

#submit i{
    color: white;
    transform: translateX(-153px);
    opacity: .9;
}

#submit:hover {
    cursor: pointer;
}
.search-container {
    display: flex;
    align-items: flex-end;
    position: fixed;
    top: 20px;
    right: 20px;   
}
.search-container input {
    background-color: #302b2b2f;
    border-radius: 30px;
    border: none;
    padding: 4px 10px 4px 25px;
    outline: none;
    font-size: 11px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

::placeholder {
    color: white;
    opacity: .8;
}

::-moz-placeholder {
    color: white;
    opacity: .8;
}

.search-container input:focus {
    background-color: #302b2b71;
    outline: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Box {
    background-color: rgb(25, 24, 48);
    font-family: "Fira Code", Consolas, "Courier New", monospace;
    line-height: 19px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    height: 625px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h1{
    line-height: 100%;
    padding-bottom: 30px;
    padding-top: 25px;
    text-align: left;
    color: white;

  }
  h2{
    padding-bottom: 20px;
    padding-top: 25px;
    color: white;

  }
  h3{
    padding-bottom: 20px;
    padding-top: 25px;
    color: white;
  }
  
.Box p {
    flex: 1;
    padding-bottom: 20px;
    padding-top: 25px;
    color: whitesmoke;
  }

  #image {
    opacity: .6;
    width: 125px;
    position: absolute;
    top: 0px;
    left: 0px;

  }
    #image:hover {
        opacity: 1;
        content: url('../images/2.png');
  }
  #movie-image{
    float: right;
    margin-right: 20px;
    height: 350px;
    max-width: 100%;
    align-items: right;
  }

.test {
  background-color: white;
  width: 20px;
  height: 20px;
  color: white;
}
  @media screen and (max-width: 768px) {
    .box{
      flex-direction: column;
    }
  }
  .image-container{
    flex: 1;
    text-align: right;
  }

