*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ 
    background-color: #070820;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: 'Bangers', cursive;
    -webkit-text-stroke-color: white; 
    -webkit-text-stroke-width: 1px;
    font-size: 65px;
    line-height: 35px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.main-section {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    background-image: url("../images/image_720\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: -2;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 20px;
}

.header-text span {
    font-size: 32px;
    -webkit-text-stroke-width: .5px;
}

.coming-soon button {
    background-color: #A70808;
    color: white;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    padding: 2px;
    letter-spacing: -.5px;
    margin-top: 5px;
}

.coming-soon button {
    font-size: 11px;
    font-weight: 200;
}

#submit i{
    color: white;
    transform: translateX(-153px);
    opacity: .9;
}

#submit:hover {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
}

.search-container {
    display: flex;
    align-items: flex-end;
    top: 20px;
    right: 20px; 
    margin-bottom: 70px;  
}

.search-container input {
    background-color: #000000;
    border-radius: 30px;
    border: none;
    padding: 4px 10px 4px 25px;
    outline: none;
    font-size: 11px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

::placeholder {
    color: white;
    opacity: .8;
}

::-moz-placeholder {
    color: white;
    opacity: .8;
}

.search-container input:focus {
    background-color: #000000;
    outline: none;
}

.img-btn:hover {
    cursor: pointer;
}

#image {
    opacity: .6;
    width: 125px;
}

#image:hover {
    opacity: 1;
    content: url('../images/6.png');
}

.swiper-container {
    padding-left: 50px;
    margin-top: 20em;
    color: white;
}
.swiper-wrapper{
    width: 100%;
    
}
.swiper-button-next{
    postion: flex;
    padding:15px;
    margin-top: 20em;
}
.swiper-button-prev{
    position: flex;
    padding: 15px;
    margin-top: 20em;
}