*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ 
    background-color: #070820;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: 'Bangers', cursive;
    -webkit-text-stroke-color: white; 
    -webkit-text-stroke-width: 1px;
    font-size: 65px;
    line-height: 35px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.main-section {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    background-image: url("../images/image_720\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -2;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 20px;
}
.header-text h1{
font-size: 6em;
}

.header-text span {
    font-size: 32px;
    -webkit-text-stroke-width: .5px;
}

.coming-soon {
    background-color: #A70808;
    color: white;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    padding: 2px;
    letter-spacing: -.5px;
    margin-top: 5px;
}

.coming-soon p {
    font-size: 11px;
    font-weight: 200;
}

#submit i{
    color: white;
    transform: translateX(-153px);
    opacity: .9;
}

#submit:hover {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
}

.search-container {
    display: flex;
    align-items: flex-end;
    top: 20px;
    right: 20px; 
    margin-bottom: 70px;  
}

.search-container input {
    background-color: #000000;
    border-radius: 30px;
    border: none;
    padding: 4px 10px 4px 25px;
    outline: none;
    font-size: 11px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

::placeholder {
    color: white;
    opacity: .8;
}

::-moz-placeholder {
    color: white;
    opacity: .8;
}

.search-container input:focus {
    background-color: #000000;
    outline: none;
}

.img-btn:hover {
    cursor: pointer;
}

#image {
    opacity: .6;
    width: 125px;
}

#image:hover {
    opacity: 1;
    content: url('../images/6.png');
}

.swiper-container {
    color: white;
}

.title p {
  font-size: 13px;
}

.upcoming-content {
    margin-top: 35em;
}
.popular-content {
    margin-top: 5em;
}
.now-playing-content {
    margin-top: 5em;
}



.slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em;
    
}

.slider-content h2 {
    color: white;
    font-size: 26px;
    letter-spacing: -1px;
    margin-bottom: 50px;
}

.card-wrapper {
    justify-content: left;
    
    display: flex;
    flex-wrap: nowrap;
    gap: 70px;
    overflow-x: scroll;
    position: relative;
    
}

.card {
    width: 200px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}

.card-wrapper::-webkit-scrollbar {
    height: 10px;
}

.card-wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(23, 23, 73);
    border-radius: 10px;
}

.card-wrapper::-webkit-scrollbar-track {
    background-color: rgba(74, 74, 138, .6);
    border-radius: 10px;
}

.image-content {
    
    width: 220px;
    height: 320px;
    object-fit: cover;
}

.image-content img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.title {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie_title {
    width: 135px;
    line-height: 12px;
}
@media screen and (max-width:768px){
    .header-text h1 {
        line-height: 20px;
        font-size: 3em;
    }
    .header-text span{
        font-size: 20px;
    }
    .coming-soon{
        width: 70%;
    }
}
.footer{
    margin: 50px 10px;
    color: white
}